header{
    font-size: x-large;
    font-weight: bold;
    border: none;
}
.test{
        color: rgb(228, 148, 117);
        margin-left: 250px;
}
html{
    background-color: rgb(255, 255, 255);
}
.test2{
    color: brown;
    width: fit-content;
    
}